.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modalContent{
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  color: var(--ft-color);
  width: 50vw;
}