:root
{
  --toolbar-height: 48px;
  --sidebar_width: 200px;
  --bg-primary-btn: #18a0fb;
  --bg-toolbar: #2c2c2c;
  --bg-toolbar-hover: #000;
  --bg-toolbar-active: #18a0fb;
  --bg-toolbar-selection: #18a0fb;
  --fg-toolbar: hsla(0, 0%, 100%, 0.8);
  --fg-toolbar-hover: #fff;
  //Стили сетки
  --grid-color: #E5E5E5;
  --grid-measure: 20px;
  --grid-thick: 1
  //------------------
}